target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture-and-design-decisions.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/architecture-and-design-decisions.md

### VS Code ###
.vscode/

### Binary and compiled files ###
*.class
*.jar
*.war
*.ear
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml